body{
    background-color: cadetblue;
}

h1{
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
}

a{
    color: blueviolet;
    padding-top: 50%;
}

nav{
    background-color: black;
}

p{
    text-align: center;
}

ul{
    text-transform: capitalize;	
    text-align: center;
    cursor: zoom-in;
}

b{
    font-style: italic;

}

hr{
    position: relative;
    color: black;
    border-style:solid;
}
